// layout
$navigation_height: 40px;

$global_content_width_m: 80%;
$global_content_width_s: 90%;
$global_content_width_max: 600px;
$global_content_indent_s: 25px;
$global_content_indent_m: 50px;

$media_s: 640px;
$media_m: 800px;

//text
$heading_size_s: 28px;
$heading_size_m: 34px;